In [16]:
import pandas as pd

df_hadis = pd.read_csv("Sunnah.csv")
df_hadis

,Perawi,Arab,Terjemahan
0,Hadits Abu Daud Nomor 1,حَدَّثَنَا عَبْدُ اللَّهِ بْنُ مَسْلَمَةَ بْنِ...,Telah menceritakan kepada kami [Abdullah bin M...
1,Hadits Abu Daud Nomor 2,حَدَّثَنَا مُسَدَّدُ بْنُ مُسَرْهَدٍ حَدَّثَنَ...,Telah menceritakan kepada kami [Musaddad bin M...
2,Hadits Abu Daud Nomor 3,حَدَّثَنَا مُوسَى بْنُ إِسْمَعِيلَ حَدَّثَنَا ...,Telah menceritakan kepada kami [Musa bin Isma'...
3,Hadits Abu Daud Nomor 4,حَدَّثَنَا مُسَدَّدُ بْنُ مُسَرْهَدٍ حَدَّثَنَ...,Telah menceritakan kepada kami [Musaddad bin M...
4,Hadits Abu Daud Nomor 5,حَدَّثَنَا عَمْرُو بْنُ مَرْزُوقٍ أَخْبَرَنَا ...,Telah menceritakan kepada kami [Amru bin Marzu...
...,...,...,...
38096,Hadits Tirmidzi Nomor 3888,حَدَّثَنَا بِشْرُ بْنُ آدَمَ ابْنُ ابْنَةِ أَز...,Telah menceritakan kepada kami [Bisyr bin Adam...
38097,Hadits Tirmidzi Nomor 3889,حَدَّثَنَا مُحَمَّدُ بْنُ بَشَّارٍ حَدَّثَنَا ...,Telah menceritakan kepada kami [Muhammad bin B...
38098,Hadits Tirmidzi Nomor 3890,حَدَّثَنَا مُحَمَّدُ بْنُ بَشَّارٍ حَدَّثَنَا ...,Telah menceritakan kepada kami [Muhammad bin B...
38099,NaN,NaN,NaN
38100,Hadits Tirmidzi Nomor 3891,حَدَّثَنَا هَارُونُ بْنُ مُوسَى بْنِ أَبِي عَل...,Telah menceritakan kepada kami [Harun bin Musa...

In [17]:
df_hadis = df_hadis.dropna(how='any',axis=0)
df_hadis = df_hadis.drop('Arab', axis=1)
df_hadis

,Perawi,Terjemahan
0,Hadits Abu Daud Nomor 1,Telah menceritakan kepada kami [Abdullah bin M...
1,Hadits Abu Daud Nomor 2,Telah menceritakan kepada kami [Musaddad bin M...
2,Hadits Abu Daud Nomor 3,Telah menceritakan kepada kami [Musa bin Isma'...
3,Hadits Abu Daud Nomor 4,Telah menceritakan kepada kami [Musaddad bin M...
4,Hadits Abu Daud Nomor 5,Telah menceritakan kepada kami [Amru bin Marzu...
...,...,...
38095,Hadits Tirmidzi Nomor 3887,Telah menceritakan kepada kami [Mahmud bin Gha...
38096,Hadits Tirmidzi Nomor 3888,Telah menceritakan kepada kami [Bisyr bin Adam...
38097,Hadits Tirmidzi Nomor 3889,Telah menceritakan kepada kami [Muhammad bin B...
38098,Hadits Tirmidzi Nomor 3890,Telah menceritakan kepada kami [Muhammad bin B...
38100,Hadits Tirmidzi Nomor 3891,Telah menceritakan kepada kami [Harun bin Musa...

In [18]:
df_bukhari = df_hadis.loc[8724:15361].reset_index()
df_bukhari

,index,Perawi,Terjemahan
0,8724,Hadits Bukhari Nomor 1,Telah menceritakan kepada kami [Al Humaidi Abd...
1,8725,Hadits Bukhari Nomor 2,Telah menceritakan kepada kami [Abdullah bin Y...
2,8726,Hadits Bukhari Nomor 3,Telah menceritakan kepada kami [Yahya bin Buka...
3,8727,Hadits Bukhari Nomor 4,Telah menceritakan kepada kami [Musa bin Isma'...
4,8728,Hadits Bukhari Nomor 5,Telah menceritakan kepada kami [Abdan] dia ber...
...,...,...,...
6633,15357,Hadits Bukhari Nomor 7004,Telah menceritakan kepada kami [Muhammad bin A...
6634,15358,Hadits Bukhari Nomor 7005,Telah menceritakan kepada kami [Hudbah bin Kha...
6635,15359,Hadits Bukhari Nomor 7006,Telah menceritakan kepada kami [Ali] telah men...
6636,15360,Hadits Bukhari Nomor 7007,Telah menceritakan kepada kami [Abu Nu'man] te...
6637,15361,Hadits Bukhari Nomor 7008,Telah menceritakan kepadaku [Ahmad bin Isykab]...

In [19]:
df_matan = pd.read_excel("Data Matan Hadits Bukhari.xlsx")
df_bukhari = df_matan

## Preproccess

#### Remove punctuation

In [20]:
import string
df_bukhari['Praproses'] = df_bukhari['Terjemahan'].str.replace('[{}]'.format(string.punctuation), '', regex=True)
df_bukhari.head()

,No.,Bab,Terjemahan,LEN,Praproses
0,1,1,"Semua perbuatan tergantung niatnya, dan (balas...",266,Semua perbuatan tergantung niatnya dan balasan...
1,2,1,Terkadang datang kepadaku seperti suara gemeri...,453,Terkadang datang kepadaku seperti suara gemeri...
2,3,1,Bacalah? Beliau menjawab: Aku tidak bisa baca....,3019,Bacalah Beliau menjawab Aku tidak bisa baca Na...
3,4,1,sangat kuat keinginannya untuk menghafalkan ap...,1280,sangat kuat keinginannya untuk menghafalkan ap...
4,5,1,manusia yang paling lembut terutama pada bulan...,304,manusia yang paling lembut terutama pada bulan...

#### Case folding

In [21]:
df_bukhari['Praproses'] = df_bukhari['Praproses'].str.lower()
df_bukhari.head()

,No.,Bab,Terjemahan,LEN,Praproses
0,1,1,"Semua perbuatan tergantung niatnya, dan (balas...",266,semua perbuatan tergantung niatnya dan balasan...
1,2,1,Terkadang datang kepadaku seperti suara gemeri...,453,terkadang datang kepadaku seperti suara gemeri...
2,3,1,Bacalah? Beliau menjawab: Aku tidak bisa baca....,3019,bacalah beliau menjawab aku tidak bisa baca na...
3,4,1,sangat kuat keinginannya untuk menghafalkan ap...,1280,sangat kuat keinginannya untuk menghafalkan ap...
4,5,1,manusia yang paling lembut terutama pada bulan...,304,manusia yang paling lembut terutama pada bulan...

#### Stopwords removal

In [22]:
# !pip install Sastrawi
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
stopwords = factory.create_stop_word_remover()

def stopwords_wrapper(text):
    return stopwords.remove(text)
df_bukhari['Praproses'] = df_bukhari['Praproses'].apply(stopwords_wrapper)
df_bukhari.head()

,No.,Bab,Terjemahan,LEN,Praproses
0,1,1,"Semua perbuatan tergantung niatnya, dan (balas...",266,semua perbuatan tergantung niatnya balasan tia...
1,2,1,Terkadang datang kepadaku seperti suara gemeri...,453,terkadang datang kepadaku suara gemerincing lo...
2,3,1,Bacalah? Beliau menjawab: Aku tidak bisa baca....,3019,bacalah beliau menjawab aku bisa baca nabi men...
3,4,1,sangat kuat keinginannya untuk menghafalkan ap...,1280,sangat kuat keinginannya menghafalkan apa ditu...
4,5,1,manusia yang paling lembut terutama pada bulan...,304,manusia paling lembut terutama bulan ramadlan ...

#### Tokenization

In [23]:
# !pip install nltk
# import nltk
# nltk.download()

In [24]:
from nltk.tokenize import word_tokenize 

def word_tokenize_wrapper(text):
    return word_tokenize(text)

df_bukhari['Token'] = df_bukhari['Praproses'].apply(word_tokenize_wrapper)
df_bukhari.head()

,No.,Bab,Terjemahan,LEN,Praproses,Token
0,1,1,"Semua perbuatan tergantung niatnya, dan (balas...",266,semua perbuatan tergantung niatnya balasan tia...,"[semua, perbuatan, tergantung, niatnya, balasa..."
1,2,1,Terkadang datang kepadaku seperti suara gemeri...,453,terkadang datang kepadaku suara gemerincing lo...,"[terkadang, datang, kepadaku, suara, gemerinci..."
2,3,1,Bacalah? Beliau menjawab: Aku tidak bisa baca....,3019,bacalah beliau menjawab aku bisa baca nabi men...,"[bacalah, beliau, menjawab, aku, bisa, baca, n..."
3,4,1,sangat kuat keinginannya untuk menghafalkan ap...,1280,sangat kuat keinginannya menghafalkan apa ditu...,"[sangat, kuat, keinginannya, menghafalkan, apa..."
4,5,1,manusia yang paling lembut terutama pada bulan...,304,manusia paling lembut terutama bulan ramadlan ...,"[manusia, paling, lembut, terutama, bulan, ram..."

#### POS tagging

In [25]:
# !pip install numpy
# !pip install python-crfsuite

In [26]:
from nltk.tag import CRFTagger
ct = CRFTagger()
ct.set_model_file('all_indo_man_tag_corpus_model.crf.tagger')
df_bukhari['POS tag'] = ct.tag_sents(df_bukhari['Token'])
df_bukhari['POS tag'].loc[0]

[('semua', 'CD'),
 ('perbuatan', 'NN'),
 ('tergantung', 'VB'),
 ('niatnya', 'NN'),
 ('balasan', 'NN'),
 ('tiaptiap', 'CD'),
 ('orang', 'NN'),
 ('tergantung', 'VB'),
 ('apa', 'WH'),
 ('diniatkan', 'VB'),
 ('barangsiapa', 'CD'),
 ('niat', 'NN'),
 ('hijrahnya', 'NN'),
 ('dunia', 'NN'),
 ('ingin', 'RB'),
 ('digapainya', 'RB'),
 ('karena', 'SC'),
 ('seorang', 'NND'),
 ('perempuan', 'NN'),
 ('ingin', 'RB'),
 ('dinikahinya', 'RB'),
 ('hijrahnya', 'RB'),
 ('kepada', 'IN'),
 ('apa', 'WH'),
 ('diniatkan', 'VB')]

In [27]:
df_bukhari['POS tag'].loc[df_bukhari['Terjemahan'].str.len().idxmin()]

[('dosa', 'NN')]

## Conceptualization

#### TF-IDF

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=250)
tfidf = vectorizer.fit_transform(df_bukhari['Praproses'])

df_ontologi = pd.DataFrame(vectorizer.get_feature_names_out(), columns=['konsep'])

print(df_ontologi['konsep'])
print("TF-IDF Matrix: ")
print(tfidf.toarray())

0         abbas
1      abdullah
2           abu
3           ada
4        adalah
         ...
245          wa
246       wahai
247       waktu
248      wanita
249        yang
Name: konsep, Length: 250, dtype: object
TF-IDF Matrix:
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.13830829]
 [0.         0.10403717 0.08077179 ... 0.         0.         0.08351307]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

#### Word embedding

In [29]:
# !pip install gensim

In [30]:
from gensim.models import Word2Vec

skipgram_model = Word2Vec(sentences=df_bukhari['Token'],
                          vector_size=200,  # Dimensionality of the word vectors
                          window=5,         # Maximum distance between the current and predicted word within a sentence
                          sg=1,             # Skip-Gram model (1 for Skip-Gram, 0 for CBOW)
                          min_count=20,      # Ignores all words with a total frequency lower than this
                          workers=4)       # Number of CPU cores to use for training the model
 
# Training
skipgram_model.train(df_bukhari['Token'], total_examples=1, epochs=10)
skipgram_model.save("skipgram_model.model")

In [31]:
def word_embedding(text):
    loaded_model = Word2Vec.load("skipgram_model.model")
    return(loaded_model.wv[text])

df_ontologi['relasi'] = df_ontologi['konsep'].apply(word_embedding)
df_ontologi

       konsep                                             relasi
0       abbas  [0.11479917, 0.118057996, -0.028140869, 0.3551...
1    abdullah  [-0.036653884, 0.1214759, 0.3936798, 0.1534389...
2         abu  [-0.22409889, 0.06998232, 0.10380951, 0.067125...
3         ada  [-0.17800386, 0.26098195, -0.13075016, -0.0124...
4      adalah  [-0.31326184, 0.19518091, 0.041342314, -0.0237...
..        ...                                                ...
245        wa  [-0.21800154, -0.11737309, 0.14935042, 0.16680...
246     wahai  [-0.11317134, 0.1476279, -0.24133173, 0.249811...
247     waktu  [-0.041958027, -0.07996482, 0.07075247, 0.2522...
248    wanita  [-0.23338228, -0.17365278, 0.00829306, 0.17515...
249      yang  [0.12049095, 0.07639894, 0.024457753, 0.152779...

[250 rows x 2 columns]

#### Agglomerative hierarchical clustering

In [34]:
from sklearn.cluster import AgglomerativeClustering
import numpy as np

X = np.array(df_ontologi['relasi'].to_list())

clustering = AgglomerativeClustering(n_clusters=None,
                                     metric='euclidean',
                                     linkage='average',
                                     distance_threshold=2.73
                                     ).fit(X)

print(clustering.labels_)
df_ontologi['label'] = clustering.labels_
df_ontologi

[ 47 139  11 107  88 111 135   2 153   3 127   7  11 108  11  79 147  20
  84 123  15  87   6   5  17 146  49  78  37  37 113  26 131  62   1 144
   4  62   2  12 143  11 145  71  44  17 148  11   9   2 151   8 119  16
  29 105  91 136   4  30  84 132   2 114  12   0  33 112   5   9  73  95
 100 117 128 149  11  30  47 129  31  11 118   1 102 137 125 140 133 142
  61  94   2  77  86  18  41 141   2   2  20   0 124  97  96  80   1   2
  89  83 150  62  69  16  27 134   2   1   8   2 121  24  13  66  16  10
  10  13   8  25 115  13  72 116   2  31 138  33  92   6 101 103  32  85
  32   9  68   2 122  55  62  57  62 122  93  42 154  43   0   2  98  74
   6   2  10  46  35 126  64  44  23   2  63  38  76   2  49 106  22 130
 104  62  70  61  60  27  24  62  14   6  11 120  64  13  22  11  48  50
  34  82   2   2  59  90 109  21   2   2 110  58  14  15  81   7   3  53
  51  11  12  28  40  23  36  65  21   2  29  19  19  41  99  39   2  60
  67   2  30 152  75  52  24   6  56  18  32   7  45  25  54  26]

       konsep                                             relasi  label
0       abbas  [0.11479917, 0.118057996, -0.028140869, 0.3551...     47
1    abdullah  [-0.036653884, 0.1214759, 0.3936798, 0.1534389...    139
2         abu  [-0.22409889, 0.06998232, 0.10380951, 0.067125...     11
3         ada  [-0.17800386, 0.26098195, -0.13075016, -0.0124...    107
4      adalah  [-0.31326184, 0.19518091, 0.041342314, -0.0237...     88
..        ...                                                ...    ...
245        wa  [-0.21800154, -0.11737309, 0.14935042, 0.16680...      7
246     wahai  [-0.11317134, 0.1476279, -0.24133173, 0.249811...     45
247     waktu  [-0.041958027, -0.07996482, 0.07075247, 0.2522...     25
248    wanita  [-0.23338228, -0.17365278, 0.00829306, 0.17515...     54
249      yang  [0.12049095, 0.07639894, 0.024457753, 0.152779...     26

[250 rows x 3 columns]

## Serialization